{"filter":false,"title":".rspec","tooltip":"/.rspec","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"action":"removeLines","range":{"start":{"row":0,"column":0},"end":{"row":1,"column":0}},"nl":"\n","lines":["--color"]},{"action":"insertText","range":{"start":{"row":0,"column":0},"end":{"row":0,"column":8}},"text":"--colour"},{"action":"insertText","range":{"start":{"row":0,"column":8},"end":{"row":1,"column":0}},"text":"\n"},{"action":"insertText","range":{"start":{"row":1,"column":0},"end":{"row":1,"column":5}},"text":"--drb"}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":5},"end":{"row":1,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1406427091836,"hash":"2401097e13c23a5102f138655c92fd3af10afbc4"}